@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');



* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body{
	line-height: 1.6;
	min-height: 100%;
	font-size: 1.6rem;
	color: #333;
	font-family: 'Open Sans';
}


.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	width: 980px;
	max-width: 90%;
}

.img {
	width: 100%;
	/* height: 100%; */
}

.img--tall {
	width: 100%;
	/* height: 600px; */
}

.section--cover {
	background-position: center;
	background-color: #0e0d1b;
	color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-size: 100% 100%;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.menu {
	width: 100%;
	color: #fff;
	position: relative;
}

.header__ul {
	text-align: right;
	margin: 0;
}

.header__item {
	padding-left: 25px;
	font-size: 15px;
	margin-top: 30px;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
}

.header__part {
	margin-top: 30px;
	text-align: left;
	padding: 0;
	font-size: 20px;
	font-weight: 700;
}

.header__link {
	text-decoration: none;
	color: white;
}

.header__link:hover {
	color: yellow;
}


.ba-width-5-6 {
	padding-top: 70px;
}

.main__link {
	color:  #1873ee;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	text-align: right;
	margin: 0;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 14px;
	width: 100%;
}

.main__link--left {
	text-align: left;
	padding: 0;
}

.main__link:hover,
.main__link:active,
.main__link:focus {
	filter: hue-rotate(180deg);
}

.main__link::after {
	display: inline-block;
	height: 6px;
	width: 100px;
	content: "";
	margin-left: 10px;
	border-top: 2px solid #1873ee;
}

.main__h1 {
	font-size: 10rem;
	text-align: left;
	line-height: 1;
	margin: 0;
	margin-bottom: 50px;
	margin-left: 205px;
}


.main__h2 {
	font-size: 6.5rem;
	line-height: 1.2;
	font-weight: 800;
	text-transform: capitalize;
	margin-top: 130px;
}

.main__h2--m70 {
	margin-top: 110px;
}

.main__h2--small {
	margin-top: 50px;
}

.main__p {
	margin-top: 30px;
}

.main__p--tall {
	margin-top: 110px;
}


.main__span {
	font-size: 50rem;
	color: white;
	position: absolute;
 	left: -135px;
	top: 130px;
	font-weight: 700;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	padding: .8em 2em;
	border: 2px solid #d5d9dd;
	text-decoration: none;
	color: #888;
	font-weight: 800;
	transition: all .5s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: #d5d9dd;
	color: #fff;
}